@model TaskManager.Core.Models.TaskItem
<div class="card" style="margin-bottom:10px;margin-top:10px;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <div class="row">
            <div class="col-sm-6 col-md-2">
                <label><b>Status:</b></label> @Model.Status.ToString()
            </div>
            <div class="col-sm-6 col-md-10">
                <label><b>Priority:</b></label> @Model.Priority.ToString()
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label><b>Due Date:</b></label> @(Model.DueBy.HasValue ? Model.DueBy.Value.ToShortDateString() : string.Empty)
            </div>
        </div>
        <a class="btn btn-primary" asp-page="./Detail" asp-route-taskId="@Model.Id"><i class="fa fa-search-plus"></i></a>
        <a class="btn btn-primary" asp-page="./Edit" asp-route-taskId="@Model.Id"><i class="fa fa-pencil"></i></a>
        <a class="btn btn-danger" onclick="return confirm('Are you sure, you want to delete?');"
        asp-page-handler="Delete" asp-route-taskId="@Model.Id"><i class="fa fa-trash"></i></a>
    </div>
</div>
